body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-brand {
font-weight: bold;
}

.header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                url('images/header-bg.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    height: 400px;
    position: relative;
}

.header img {
    border: 5px solid #fff;
}

.header h1 {
    font-size: 3rem;
}

.header .lead {
    font-weight: 350;
}

.section-title {
    margin-bottom: 30px;
    font-weight: bold;
}

.teaching-card {
    transition: background-color 0.2s, border-color 0.2s, box-shadow 0.2s;
}

.teaching-card:hover {
    background-color: #343a40; /* bootstrap bg-dark color */
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.teaching-card a:hover {
    color: #66b2ff;
}

.social-icons a {
    color: #103356;
    margin-right: 20px;
    font-size: 2rem;
}

.social-icons a:last-child {
    margin-right: 0;
}